.external{
	background-color: grey ; border: solid 1px ;
}
img  {
    float: left;
    margin: 0px 0 15px 100px;
}
.p1 {
    float: left ;
    margin: 15px 0 5px 5px;
    font-size: 3.5em ;
    font-weight: bold;
    color : blue;
    font-variant: small-caps ;
}
.p2 {
    float: left ;
    margin: 15px 0 5px 5px;
    font-size: 3.5em ;
    font-weight: bold;
    color: grey;
    font-variant: small-caps ;
}
.p3 {
    float: left ;
    margin: 4px 0 15px 80px;
    font-size: 1.5em ;
    }
button {
	float: left ;
    margin: 5px 0 5px 8px;
    height: 28px;
    width: 90px;
    font-size: 1.0em ;
}
.p4 {
	float: left ;
    margin: 4px 0 5px 8px;
    font-size: 1.5em ;
}
.p5{
	float: left ;
    margin: 20px 0 15px 80px;
    font-size: 1.5em ;
}
.span {
	float: left ;
    margin: 5px 0 5px 8px;
    height: 28px;
    width: 90px;
    font-size: 1.0em ;
}
.img{
	float: left ;
    margin: 0px 0 0px 190px;
    height : 40px ; 
    width : 40px ; 
}
